.shop-container {
  display: grid;
  grid: auto / 75% 25%;
  padding: 1rem 5rem;
  margin: 0 auto;
  // border-top: 2px solid gray;

  .left-panel {
    display: grid;
    border: 2px solid gray;
    background-color: var(--white);
    // border-radius: 16px;
    .shop-item {
      display: flex;
      border-top: 2px solid gray;

      .shop-item__title {
        flex: 1;
        border-right: 1px solid black;
        padding: 10px;
      }
      .shop-item__detail {
        flex: 3;
      }
      .shop-item__none-selected {
        flex: 3;

        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        font-size: x-large;
        color: lightgray;
      }
    }

    .shop-feedback {
      border-top: 2px solid gray;
    }
  }

  .right-panel {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-left: transparent;
    .right-panel-header {
      font-size: 1.1rem;
      font-weight: 700;
      margin: 10px;
      border-bottom: 1px solid black;
    }

    .order-list {
      padding: 0 8px;
      display: flex;
      flex-direction: column;

      .submit-btn-row {
        margin: 1rem auto;
      }
    }
  }
}

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
