.shop-container {
  display: grid;
  grid: auto 40% auto/ 75% 25%;
  padding: 1rem 5rem;
  margin: 0 auto;

  .left-panel {
    display: grid;
    border: 2px solid gray;
    border-radius: 16px;
    .shop-item {
      display: flex;
      border-top: 2px solid gray;

      .shop-item__title {
        flex: 1;
        border-right: 1px solid black;
      }
      .shop-item__detail {
        flex: 3;
      }
    }

    .shop-feedback {
      border-top: 2px solid gray;
    }
  }

  .right-panel {
    display: flex;
    flex-direction: column;
    .right-panel-header {
      font-size: 1.1rem;
      font-weight: 700;
      margin: 10px;
    }

    .order-list {
      padding: 0 8px;
      display: flex;
      flex-direction: column;

      .submit-btn {
        width: 50%;
        margin: 1rem auto;
      }
    }

    .order-quantity {
      display: flex;
      flex-grow: 1;
      border-top: 1px solid black;
      margin-left: 170px;

      .order-quantity__label {
        flex: 2;
      }

      .order-quantity__value {
        flex: 1;
      }
    }
  }
}
