.navbar-container {
  .admin-profile-section {
    display: flex;
  }

  .count-section {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    white-space: wrap;
    overflow: hidden;
  }
}
