.login-modal-body div {
	white-space:nowrap
}
.login-modal-body .form-label {
	display: inline;
}

.login-modal-body .modal-field {
	display: block;
	margin-bottom: 10px;
}

.login-modal-body .login-button {
	display: block;
	margin: auto;
	width: 200px;
}