body {
  background-color: var(--mycolor-accent-light) !important;
}

.upmost-container {
  min-height: 100vh;
  overflow: hidden;
}

.page-container {
  height: max-content;
  padding-bottom: 15px;
}
