/* Section  */
.recommended-section-container {
	margin-top: 10px;
	max-height: 90%;
}
.recommended-section-container .card-body{
	margin-left: 8px;
	overflow: scroll;
	overflow-x: hidden;
}
.recommended-section-container .card-img-overlay {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}
.recommended-section-container .see-more-box a {
	padding: 4px;
	float: right;
}
