.sale-container {
  padding-top: 3rem;
  margin: 0 3rem;

  .add-sale-button {
    display: flex;
    justify-content: flex-end;

    button {
      max-width: 202px;
      width: 100%;
    }
  }

  .sale-table {
    font-family: "Open Sans", sans-serif;
    max-width: 900px;
    width: 100%;
    margin: auto;
    border-radius: 0.5rem;
    text-align: center;
    table-layout: auto;
    white-space: nowrap;
    overflow: auto;

    tr {
      td {
        vertical-align: middle;

        &:not(:last-child) {
          word-wrap: break-word;
        }

        &:last-child {
          min-width: 200px;
          width: 100%;
          position: sticky;
          right: 0;
        }
      }

      th {
        &:last-child {
          min-width: 200px;
          width: 100%;
          position: sticky;
          right: 0;
        }
      }
    }

    .sale-action {
      display: flex;
      box-sizing: border-box;
      justify-content: space-around;
      font-size: 15px;
      flex-wrap: wrap;
      gap: 10px;

      .button {
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 4px #95a5a6;

        &:active {
          box-shadow: 0 5px #95a5a6;
          transform: translateY(4px);
        }
      }

      .update {
        background-color: #27ae60;

        &:hover {
          background-color: #2ecc71;
        }
      }

      .delete {
        background-color: #ce2c3c;

        &:hover {
          background-color: #dd5361;
        }
      }
    }
  }
}
